<h1>Make a review for <%= @restaurant.name %></h1>

<%= simple_form_for([@restaurant, @review]) do |f| %>
  <div class="form-floating m-3">
    <%= f.input :rating, class: "form-control" %>
  </div>
  <div class="form-floating m-3">
    <%= f.input :content, class: "form-control", style: "height: 100px" %>
  </div>
  <%= f.submit "Submit", class: "btn btn-default btn-primary m-3" %>
  <%= link_to "Cancel", restaurant_path(@restaurant), class: "btn btn-light" %>
<% end  %>
